
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
}

/* #subMenuOption{
    padding-left: 2rem;
    padding-right: 2rem;
} */

#subMenuOption:hover{
    cursor: pointer;
}
.navbar-inverse{
    background-color: rgb(6, 124, 192);
    border-color: rgb(6, 124, 192);
}
.navbar-right{
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}
.menu{
    padding-left: 3.5rem;
    font-family: Avenier;
    font-size: 16px;
}


.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
}

#submenu{
    margin-top: -2rem;
    margin-bottom: 0rem;
    padding-left: 6rem;
    color: rgb(1, 47, 68);
}

.navbar-default .navbar-nav>li>a{
    color: rgb(1, 47, 68);
    font-weight: 200;
}

.footer{
    background-color: rgb(1, 47, 68);
    /* position: fixed; */
    /* bottom: 1px; */
    width:100%;
    color: #ffffff;
    font-family: Avenier;
}

.search ,.search-btn{
    background-color:rgb(95, 200, 248);
    border-color: rgb(95, 200, 248);;
}

.search-box{
    padding-top:0.6rem
}

.search::placeholder{
    color: #ffffff;
    font-size:12px
}

.glyphicon-search{
    color: #ffffff;
}

.list{
    list-style-type:none;
     padding-left:0rem
}

.list >li{
    font-size: 10px;
    /* font-weight:normal; */
    font-family: Avenier;
}

.footer-list{
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 8rem;
}

.login{
    background-image: url('../../assets/Banner_BG.png');
}

.login-portal{
   background-color: rgb(6, 124, 192);
   margin-top: 4rem;
   margin-bottom: 8rem;
   color: #ffffff;
   font-family: Avenier;
}

.login-box{
    margin-left: 60%;
}

.login-div{
    padding: 1rem 1rem 1rem 1rem;
}

.signIn{
    background-color: rgb(1, 28, 44);
    border-color: rgb(1, 28, 44);
}

.forget{
    color: #ffffff;
}

.icon-page{
    background-color: #ffffff;
    font-family: Avenier;
    margin-top: -5rem;
}

.bottom-icon{
    text-align: center;
}

label{
    font-size: 12px;
    font-weight: 200;
}

.dropdown-toggle{
    width: -webkit-fill-available;
    color:#555;
    background-color: #ffffff;
    text-align: left;
}

.icon-page-head{
    font-size: 20px;
    color: rgb(1, 47, 68);
    text-align: center;
    /* padding: 2rem; */
    margin-top: 5rem
}

.icons{
    padding: 3rem;
}

.icon-page-2{
    padding-bottom: 5rem;
}

.bottom-icon{
    font-family: Avenier;
    color: rgb(1, 47, 68);
    font-size:16px;
    padding-top: 3rem;
}

.icons-image{
    padding: 2rem;
}

:host>>> .activeSubMenu{
    font-weight:bolder !important;
    border-bottom: 2px solid;
}

.logo{
    background-color: brown;
}

.arrow-icon{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
/* .container-fluid{
    background-color: whitesmoke;
}


.navbar {
    background-color: rgb(10, 161, 248);
    color: #ffffff;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: grey;
    cursor: pointer;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: grey;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: rgba(22, 74, 218, 0.692);
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.activeClass{
    display: block;
    background-color: transparent;
} */